.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}


.header {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle {
  width: 7vh;
  height: 7vh;
  border: 3px solid silver;
  border-radius: 50%;
  display: inline-block;
}

.complete {
  background-color: blue;
}

li.list-member {
  list-style-type: none;
  width: 100%;
  border: 1px solid silver;
  margin: 10px;
  padding: 20px;
}

li.list-member:hover{
  background-image: linear-gradient(to top right, silver, white);
}

ul#to-do-list {
  text-align: left;
}

#add_task {
  margin: 10px 0px 0px 0px;
}

ul {
  padding-inline-start: 0px;
}